html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    border: 2px dashed #000;
    background: #efefef;
    box-sizing: border-box;
}

canvas {
    width: 100%;
}